.container {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.break {
    margin-top: 20px;
}

.clickable {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .mid {
        width: 100%;
        text-align: left;
        margin-left: 260px;
    }
}