.contentStyle {
    height: 280px;
    textAlign: center;
    background: url('https://cdn.wallpapersafari.com/75/64/qmLKtf.jpg');
}

.break {
    margin-top: 100px;
}
@media only screen and (max-width: 600px) {
    .row {
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 600px) {
    .mobMid{
        text-align: center;
        margin-left: 20%;
    }
}


.center {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.imgBorder {
    borderRadius: 5;
    border: 10px solid white;
    width: 200px;
    marginTop: 15
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Microsoft PhagsPa"
}
